:root {
    --color-white: #FFFAEF;
    --color-black: #615E5D;
    --color-beige: #F2D49C;
    --color-green: #93C678;

    --radius: 50px;

}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
li {
    list-style: none;
}

html {
    background-color: var(--color-white);
    color: var(--color-black);
}

body {
    margin: 0px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

header {
    display: flex;
    background-color: var(--color-white);
    justify-content: space-between;
    img{
        max-width: 43px;
    }
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    background-size: cover;
}


.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#section-nav {
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 0px 50px;
}

a {
    color: var(--color-black);
    text-decoration: none;
}

a:hover {
    color: var(--color-beige);
}

button {
    padding: 12px 24px;
    border: 0px;
    color: var(--color-white);
    border-radius: var(--radius);
    background-color: var(--color-green);

}



h2 {
    font-size: 55px;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    width: 100%;   
    margin: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.is-centered {
    align-items: center;
    margin: auto;
}

#herosec {
    display: flex;
    align-items: center;
    min-height: 60vh;
    width: 100%;
    color: var(--color-white);
    background-image: url(medias/lyon.jpg);
    background-repeat: no-repeat;
    width: 100%;
    .content {
        max-width: 500px;
    }

    p {
        padding-bottom: 20px;
        
    }
}

#Problematique {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);

    img {
        width: 90%;
        padding: 30px 30px;
    }
}


.contexte {
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
    font-size: 15px;

    p {
        margin-bottom: 30px;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


header section img {
    height: 50px;
    width: 50px;
}

button:hover {
    cursor: pointer;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {

    width: 166px;
    /* height: 200px; */
    border: 0 white;
    padding: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
    background-color: var(--color-beige);
    display: flex;
    justify-content: center;
    padding: 40px;
}

#nous_section {
    img {
        width: 40%;
        padding: 30px 30px;
    }
}

#vous_section {
    img {
        width: 40%;
        padding: 30px 30px;
        aspect-ratio: inherit;
        object-fit: cover;
    }
    background-color: white;
}

/* avis */

.avis {
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 10px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
    font-family: "Michroma", sans-serif;
    background: var(--color-beige);
    border-radius: 8px;
    /* margin-top: 50px; */
    width: 43%;
    height: fit-content;
}


.avis_img {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

#partenaires {
    background-color: white;
    img {
        width: 200px;
    }

    .container {
        justify-content: center;
        gap: 24px;
    }
}
.contact_valeurs{
    display: flex;
    gap: 40px;
    div{
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
.doc_background-white {

    background-color: var(--color-beige);
    padding: 10px;
}

.doc_background-beige {
    background-color: var(--color-white);
    display: flex;
    /* padding-left: 136px; */
}

.doc_pading {
    padding: 10%;
}

.OptionLangue {
    height: 400px;
}

#persona {
    width: 700px;
}

.DocFooterIMG {
    width: 50px;
    height: 50px;
}

.icon {
    width: 100px;
    height: 100px;
}

#fonctionnalité {
    margin-top: 100px;
    background-color: var(--color-white);
    padding: 20px;
    background-color: white;
}

#Nous {
    max-width: 600px;
}

#fond1 {
    background-color: white;
    padding: 20px;
}

#side_img {
    max-width: 900px;

    img {
        width: 50%;
        padding: 30px 30px;
        margin-left: 120px;
    }
}


.doc_contexte {
    color: white;
    background-image: url(medias/lyon.jpg);
    background-repeat: no-repeat;
}

.doc_box2 {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 40px;
    border: 0 white;
    padding: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
    background-color: var(--color-beige);
    /* width: 30%; */
    width: auto;

    p{
        font-size: 17px;
    }
}

.doc_box5{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 40px;
    border: 0 white;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
    background-color: var(--color-beige);
    width: 30%;
    p {
        height: 50px;
    }
}

.doc_box-container2 {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-evenly;
    gap: 10px;
    

}

.doc_logo {
    height: 100px;
    width: 100px;
}

.doc_sansmarge {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 50px;


}

.doc_box3 {
    display: flex;
    justify-content: center;
}

.doc_box4 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.DocIconeFooter {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
}

.avis_wrapper {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

footer {
    display: flex;
    align-items: center;
    padding: 30px 30px;
    background-color: white;
    #cc {
        margin-left: 70px;
    }

}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    #logo {
        max-width: 10%;
    }
}

#telecharge {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;

}

#telimage {
    display: flex;
    flex-direction: row;

    img {
        max-width: 50%;
    }

}

.footer_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* #logo{
    padding: 0;
} */