:root {
    --color-white: #FFFAEF;
    --color-black: #615E5D;
    --color-beige: #F2D49C;
    --color-green: #93C678;

    --radius: 50px;

}
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.mobile-visible{
     display: none;   
}
.mobile-hidden{
    display: block;
}

li {
    list-style: none;
}

html {
    background-color: var(--color-white);
    color: var(--color-black);
}

body {
    margin: 0px;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

header {
    display: flex;
    background-color: var(--color-white);
    justify-content: space-between;
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 15px #00000012;
    z-index: 2;
    img{
        max-width: 150px;
    }
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    background-size: cover;
    box-sizing: border-box;
}


.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    height: 50px;
    width: 50px;
}

#section-nav {
    gap: 20px;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    img {
        width: 35px;
    }
}

a {
    color: var(--color-black);
    text-decoration: none;
}

a:hover {
    color: var(--color-beige);
}

button {
    padding: 12px 24px;
    border: 0px;
    color: var(--color-black);
    border-radius: var(--radius);
    background-color: var(--color-green);
    font-weight: 600;
    font-family: "Kufam", serif;
}

h1 {
    font-size: 36px;
    padding: 30px 0px;
}

h2 {
    font-size: 32px;
        padding: 30px 0px;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    margin: auto;
    width: 100%;
}

.container2 {
    margin: auto;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    justify-content: space-evenly;
}

.is-centered {
    align-items: center;
    margin: auto;
    line-height: 1.5;
}

#herosec {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 134px 24px 64px 24px;
    color: var(--color-white);
    background: linear-gradient(275deg, #ff00001f, #615e5da8), url(medias/lyon.jpg);
    background-repeat: no-repeat;
    .content {
        max-width: 500px;
    }

    p {
        padding-bottom: 20px;
    }
}

#Problematique {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    #problem-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 32px;
    }
    img {
        width: 30%;
        padding: 30px 30px;
    }
}


.contexte {
    display: flex;
    flex-direction: column;

    p {
        margin-bottom: 30px;
    }

    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


button:hover {
    cursor: pointer;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {

    width: 160px;
    /* height: 200px; */
    border: 0 white;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 15px #0000001c;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    p {
        text-align: center;
        line-height: 1.2;
    }
}

#nous_section {
    img {
        width: 30%;
        padding: 30px 30px;
        object-fit: contain;
    }
    .container {
        justify-content: space-around;
    }
}

#vous_section {
    img {
        width: 45%;
        padding: 30px 30px;
        aspect-ratio: inherit;
        object-fit: cover;
    }
    a {
        text-decoration: underline;
    }
    background-color: white;
}

/* avis */

.avis_wrapper {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.avis {
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 10px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-weight: bolder;
    
    font-family: "Michroma", sans-serif;
    background: var(--color-beige);
    border-radius: 8px;
    width: 440px;
    height: 300px;
    p {
        font-weight: 200;
        font-size: 15px;
        line-height: normal;
    }
}

.avis_img {
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.avis_texte {
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding: 30px;
}

.avis_note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 30px;
    width: 160px;
}

#partenaires {
    background-color: white;
    img {
        width: 100px;
    }

    .container {
        justify-content: center;
        gap: 24px;
    }
}
#cta-section{
    h2{
        text-wrap: nowrap;
    }
    button{
        margin-top: 40px;
    }
}

#joinus {
    padding-bottom: 30px;
}

.contact_valeurs{
    display: flex;
    gap: 40px;
    width: 800px;
    justify-content: center;
    div{
        display: flex;
        gap: 4px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        p {
            font-size: 13px;
            font-weight: 600;
        }
    }
}

#fonctionnalités {
    margin-top: 100px;
    background-color: var(--color-white);    
    padding: 64px 24px 86px 24px;
    background-color: white;
    i {
        height: 35px;
    }
    p {
        font-weight: 600;
    }
    .content{        
        width: 100%;
        max-width: none;
        flex-wrap: wrap;
    }
}

#fond1 {
    background-color: white;
    padding: 20px;
}

#side_img {
    max-width: 900px;

    img {
        width: 50%;
        padding: 30px 30px;
        margin-left: 120px;
    }
}




footer {
    /* display: flex; */
    align-items: center;
    padding: 30px 30px;
    background-color: white;
    #cc {
        margin-left: 70px;
    }
    div {padding: 10px;}
    .fodiv2 a {
        padding: 10px;
    }
    .telimage img {
        margin: 10px;
    }
}

.fodiv {
display: flex;
justify-content: space-between;
}

.fodiv2 {
    display: flex;
    justify-content: space-between;
    }

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    #logo {
        max-width: 10%;
    }
}
.footer_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* DOCUMENTATION */


.doc_background-white {
    p {
        text-align: center;
        max-width: 400px;
    }
    background-color: var(--color-beige);
    padding: 10px;
    
}

.doc_background-beige {
    p {
        max-width: 800px;
        padding-bottom: 30px;
    }
    padding: 25px;
    background-color: var(--color-white);
}

.doc_pading {
    padding: 60px;
    max-width: 500px;
}

.OptionLangue {
    height: 400px;
    object-fit: contain;
}

#persona {
    width: 700px;
}

.DocFooterIMG {
    width: 100px;
    height: 100px;
}

.DocFooterIMGyoon {
    width: 100px;
}

.icon {
    width: 100px;
    height: 100px;
}


.doc_contexte {
    color: white;
    background: linear-gradient(275deg, #ff00001f, #615e5da8), url(medias/lyon.jpg);
    background-repeat: no-repeat;
    padding: 134px 24px 64px 24px;
    min-height: 100vh;
}

#doc_imgcontext {
    width: 400px;
}

.doc_box2 {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 40px;
    border: 0 white;
    padding: 5px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
    background-color: var(--color-beige);
    width: auto;

    p{
        font-size: 17px;
    }
}

.doc_box5{
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    background-color: var(--color-beige);
    width: 30%;
    p {
       text-align: center; 
        height: 50px;
        padding-bottom: 30px;
    }
}

.doc_box-container2 {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: space-evenly;
    gap: 40px;
}

.doc_logo {
    height: 100px;
    width: 100px;
}

.doc_sansmarge {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 30px;
}

.doc_box3 {
    display: flex;
    justify-content: center;
}

.DocIconeFooter {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
}

.doc_avenir {
    p {
        max-width: 800px;
        padding-bottom: 30px;
    }
    padding: 25px;
    background-color: var(--color-white)
}


#telecharge {
    max-width: 150px;
    display: flex;
    flex-wrap: wrap;

}

#telimage {
    display: flex;
    flex-direction: row;

    img {
        max-width: 50%;
    }

}

#Formul{
    display: table-caption;
    width: 307px;
    border: 0 rgba(255, 255, 255, 0);
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
    background-color: var(--color-beige);
    p {
        text-align: center;
        font-weight: 700;
        padding: 10px;
    }
}

#Formulaire li{
    margin-bottom: 10px;
}

.Formule{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input {
    border: 8px solid rgba(255, 255, 255, 0);
    padding-left: 4px;
    font-family: "Work Sans", serif;
}

textarea {
    border: 8px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    font-family: "Work Sans", serif;
}

input::placeholder {
    color: var(--color-black);
    font-style: italic;
    opacity: 0.5;
    font-family:"Work Sans", serif;
}

textarea::placeholder {
    color: var(--color-black);
    font-style: italic;
    font-family:"Work Sans", serif;
    opacity: 0.5;
}

#QRcenter {
    display: flex;   
    justify-content: center;
    padding: 50px 0px;
    button {
        width: 300px;
        border-radius: 0%;

    }
    p {
        font-style: italic;
        padding-bottom: 10px;
    }
}

#name{
    width: 207px;
    background-color: var(--color-white);
    border-color: var(--color-white);
    border-radius: var(--radius);
}
#msg{
    width: 207px;
    height: 60px;
    background-color: var(--color-white);
    border-color: var(--color-white);
    /* border-radius: var(--radius); */
}
#mail{
    width: 207px;
    background-color: var(--color-white);
    border-color: var(--color-white);
    border-radius: var(--radius);
}
#formprnt{
    display: flex;
    justify-content: center;
}
#Formulaire{
    max-width: 207px;
    max-height: 280px;
    li{
        font-weight: 700;
    }
}
#fbutton{
     margin: 10px;
     display: flex;
     justify-content: center;
    }

textarea {
    resize: none;
  }
  

.doc_profil {
    padding: 30px;
    ul {
        padding: 10px;
        li {
            padding: 5px
        };
    }
    img {
        width: 150px;
        border-radius: 50%;
        padding-bottom: 20px;
    };
    }

/* media query mobile responsive */

@media only screen and (max-width : 480px) {
    /* Styles pour cette Media Queries */

    .mobile-visible{
        display: block;
        img {width: 50px;}
    }
    .mobile-hidden{
        display: none !important;
    }
    .container{
        flex-direction: column;
        align-items: center;

    }
    .avis_wrapper {
        padding: 0;
    }
    .avis{    
    width: 100%;
    height: auto;
    }
    .fodiv{
        flex-direction: column;
    }
    .fodiv2{
        flex-direction: column;
    }
    .contact_valeurs {
        flex-direction: column;
        gap: 12px;
        width: unset;
        margin-bottom: 40px;
        div {
            margin-bottom: 0%;
        } 
    }
    .doc_box2{
        width: 100%;
    }

    #persona {
        width: 430px;
      }
    .OptionLangue {
        height: 300px;
      }
    .doc_box-container2 {
        flex-direction: column;
    }
    .DocFooterIMG {
        width: 50px;
        height: 50px;
      }
      .DocFooterIMGyoon {
        width: 50px;
      }
    }